<root>
<通讯口>
<串口>com1</串口>
</通讯口>
<水位站>
<闸内水位站>
<闸内水位站名称>闸内站 </闸内水位站名称>
<闸内水位站零点(cm)>0.0</闸内水位站零点(cm)>
<闸内水位站站号>1</闸内水位站站号>
</闸内水位站>
<闸外水位站>
<闸外水位站名称>闸外站</闸外水位站名称>
<闸外水位站零点(cm)>0.0</闸外水位站零点(cm)>
<闸外水位站站号>2</闸外水位站站号>
</闸外水位站>
</水位站>
<水位差>
<闸门开启水位差(cm)>0.0</闸门开启水位差(cm)>
</水位差>
</root>
