<root>
<通讯口>
<串口>com1</串口>
</通讯口>
<龙目礁水位站>
<龙目礁闸内水位站>
<龙目礁闸内水位站零点(cm)>-40.00</龙目礁闸内水位站零点(cm)>
<龙目礁闸内水位站站号>1</龙目礁闸内水位站站号>
</龙目礁闸内水位站>
<龙目礁闸外水位站>
<龙目礁闸外水位站零点(cm)>0.00</龙目礁闸外水位站零点(cm)>
<龙目礁闸外水位站站号>2</龙目礁闸外水位站站号>
</龙目礁闸外水位站>
</龙目礁水位站>
<上干山水位站>
<上干山闸内水位站>
<上干山闸内水位站零点(cm)>33.00</上干山闸内水位站零点(cm)>
<上干山闸内水位站站号>3</上干山闸内水位站站号>
</上干山闸内水位站>
<上干山闸外水位站>
<上干山闸外水位站零点(cm)>44.00</上干山闸外水位站零点(cm)>
<上干山闸外水位站站号>4</上干山闸外水位站站号>
</上干山闸外水位站>
</上干山水位站>
<控制水位>
<死区水位(cm)>0.00</死区水位(cm)>
<闸门开启水位差(cm)>2.00</闸门开启水位差(cm)>
</控制水位>
</root>
