<root>
<通讯口>
<串口>COM3</串口>
</通讯口>
<水位站>
<闸内水位站>
<闸内水位站名称>瓯江</闸内水位站名称>
<闸内水位站零点(cm)>0.00</闸内水位站零点(cm)>
<闸内水位站站号>1</闸内水位站站号>
</闸内水位站>
<闸外水位站>
<闸外水位站名称>汝南</闸外水位站名称>
<闸外水位站零点(cm)>0.00</闸外水位站零点(cm)>
<闸外水位站站号>2</闸外水位站站号>
</闸外水位站>
</水位站>
<水位差>
<闸门开启水位差(cm)>0.00</闸门开启水位差(cm)>
</水位差>
</root>
